<div>


    <section id="one">
        <nav id="nav">
            <div class="nav-logo">
                <div class="nav-heading">
                    <a href="#" id="dog"><i class="fas fa-paw logo white"></i>StarQuest</a>
                </div>
                <div class="hamburger">
                    <a href="#"><i class="far fa-moon white"></i></a>
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
            </div>
            <ul class="nav-links">
                <li><a href="#">HOME</a></li>
                <li><a href="#one-half">ABOUT</a></li>
                <li><a href="#">GENERATE RESPONSE</a></li>
                <li><a href="#eight">CONTACT</a></li>
                <li [ngStyle]="{'display':Logout()}" (click)="logouthere()"><a id="logout" href="#">Logout</a></li>
            </ul>
            <div class="search-section">
                <span class="search">
                    <input type="search" placeholder="Enter to search" id="searchhere" />
                    <button class="search-btn"><i class="fas fa-search"></i></button>
                </span>
            </div>
            <span><i class="far fa-moon white night"></i></span>
        </nav>
        <div class="content">
            <div class="text-content">
                <h1 class="white">Providing Special reply For <strong>Your fans !</strong></h1>
                <h4 class="blackish">We offer special services for special fans !</h4>
                <div class="two-button">
                    <button class="w-btn btn" (click)="Generate()">Generate Response</button>
                    <a href="/login"><button [ngStyle]="{'display':check()}" class="t-btn btn" (click)="check()">Sign In</button></a>
                </div>
            </div>
        </div>
    </section>

    <section id="one-half" class="goblack">
        <span id="imagehere"><img
                src="https://cdn.dribbble.com/users/1446559/screenshots/5453050/media/ff7fdbdc9b667c74cc57db48bfc2ffc7.gif"
                alt=""></span>

        <div class="half-content">
            <div class="half__text">
                <h1>About Us</h1>
                <p>Welcome to COSMOS AI Influencer Clone, where technology and influence converge to create an
                    extraordinary experience for influencers and their audiences. Our mission is to empower influencers
                    with the AI-driven power of ChatGPT, enabling them to provide their audiences with personalized,
                    authentic, and timely responses to their questions and queries.

                </p>
            </div><br><br>
            <div class="half__text">
                <h1>Our Objective</h1>
                <p>Our primary objective is to develop a cutting-edge chat application that utilizes the power of
                    ChatGPT, incorporating pre-trained data from Q&A sessions and podcast transcripts. By doing so, we
                    aim to equip influencers with a tool that enables them to interact with their audience like never
                    before, offering accurate and contextually relevant answers that mirror their unique communication
                    style. </p>
            </div><br><br>


        </div>

    </section>

    <section id="six">
        <h5>STARQUEST Team</h5>
        <h1>Our Team Is Filled With Highly Dedicated AI Developer's</h1>

        <button class="btn w-btn">Read More</button>

    </section><br><br><br>

    <footer id="eight">

        <div class="footer__container">
            <div class="dog__care ">
                <span href="#"><i class="fas fa-paw "></i>
                    StarQuests Care
                </span>
                <p>Duis imperdiet sapien tortor, vitae congue diam auctor vitae. Aliquam eget turpis ornare, euismod
                    ligul
                    aeget, enenatis dui.</p>
            </div>
            <div class="StarQuest__categories">
                <h3>CATEGORIES</h3>
                <div class="categories">
                    <ul>
                        <li>StarQuest</li>
                        <li>StarQuest Care</li>
                        <li>Pets</li>
                        <li>Uncategorized</li>
                    </ul>
                    <ul>
                        <li></li>
                        <li> </li>
                    </ul>
                </div>
            </div>

            <div class="newsletter">
                <h3>NEWSLETTER</h3>
                <h3>SUBSCRIBE HERE NOW</h3>
                <span>
                    <input type="text" placeholder="Email Address"><button class="btn"><i
                            class="far fa-paper-plane"></i></button>
                </span>
                <p>Subscribe to our mailing list and get updates to your email inbox.</p>
            </div>

        </div>


        <div class="copyright">

            <p>&#169; 2021 StarQuests Care. All Rights Reserved | WordPress Theme by <strong>Onlyvp.</strong> </p>

            <div class="share">
                <div><i class="fab fa-facebook-f"></i></div>
                <div><i class="fab fa-linkedin-in"></i></div>
                <div><i class="fab fa-twitter"></i></div>
                <div><i class="fab fa-google-plus-g"></i></div>
                <div><i class="fab fa-github"></i></div>
            </div>


        </div>





    </footer>


</div>